html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* .react-datepicker__week>.react-datepicker__day--highlighted,
.react-datepicker__week>.react-datepicker__day--today {
    background-color: #d3d3d3!important;
    color: #444!important
} */

/* .react-datepicker__day--keyboard-selected{
    background-color: transparent!important;
    color: #000!important;
} */